/* Styles for larger screens */
#hamburger {
    display: none; /* Hide hamburger menu */
}

nav ul {
    display: flex; /* Horizontal menu */
    justify-content: center;
}

#gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

figure {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
